.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.start {
  cursor: pointer;
  transition: color 0.2s;
}
